{% extends 'base.html.twig' %}

{% block title %}Hello NewPost!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% for message in app.flashes('success') %}
    <div class="text-green-500">
        {{ message }}
    </div>
    {% endfor %}

    <!-- CARD -->

    <div class="mb-2 h-64 hidden"></div>

    {{form_start(post_form)}}
    <div class="max-w-full p-6 bg-white rounded-lg shadow-xl mt-10 mx-20">
        {{form(post_form)}}
    </div>
    <p>{{form_errors(post_form)}}</p>
    {{form_end(post_form)}}
</div>
{% endblock %}