{% extends 'base.html.twig' %}

{% block title %}Hello CommissionController!{% endblock %}

{% block body %}

<div class="text-center">
    <div class="mt-5 mb-5">
        {% for user in artist %}
        {% if user.ComsState == 0 %}
        <p class="text-xl font-bold">Commissions State : <span class="text-red-500">Closed</span></p>
        {% elseif user.ComsState >= 1 %}
        <p class="text-xl font-bold">Commissions State : <span class="text-green-500">Open - {{user.ComsState}}
                slots</span></p>
        {% endif %}
        {% endfor %}
    </div>
    {% for user in artist %}
        {% if user.ComsState == 0 %}
        <a href="{{ path('new_com') }}">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-blue-300" disabled>Create a new
                commission</button>
        </a>
        {% elseif user.ComsState >= 1 %}
        <a href="{{ path('new_com') }}">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create a new
                commission</button>
        </a>
        {% endif %}
    {% endfor %}

    <div class="flex flex-col text-left">
        <h1 class="text-2xl font-sans font-semibold mx-auto my-5">Recent commissions</h1>
        <div class="lg:mx-auto mx-2">
            {% if is_granted("ROLE_ARTIST") %}
            {% for commission in commissions %}
            <a href="{{ path("app_artist_panel_commission_id", {id: commission.id}) }}" class="mx-auto">
                <div
                    class="my-2 px-4 py-4 lg:mx-auto mx-2 max-w-6xl bg-white rounded-md shadow-md hover:translate-x-1 transition-all ease-in-out">
                    <p class="text-xl">{{ commission.title }}</p>
                    <br>
                    <p class="text-base line-clamp-4">{{ commission.details }}</p>
                </div>
            </a>
            {% endfor %}
            {% else %}
            {% for commission in app.user.commissions %}
            <a href="{{ path("app_artist_panel_commission_id", {id: commission.id}) }}" class="mx-auto">
                <div
                    class="my-2 px-4 py-4 lg:mx-auto mx-2 max-w-6xl bg-white rounded-md shadow-md hover:translate-x-1 transition-all ease-in-out">
                    <p class="text-xl">{{ commission.title }}</p>
                    <br>
                    <p class="text-base line-clamp-4">{{ commission.details }}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}