{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

<div>
    <div class="max-w-full mx-10 lg:mx-64 my-10 px-4 py-4 bg-white rounded-lg shadow-lg">
        <div class="float-right">
            <p class="text-md font-thin">{{ commission.createdat.format('d/m/Y G:i') }}</p>
        </div>
        <div class="float-left">
            <p class="text-md font-thin">By {{ commission.user.name }}</p>
        </div>
        <div class="text-center">
            <p class="text-3xl font-semibold">{{ commission.title }} - {% if commission.state == 0 %}<span
                    class="text-red-500">Not accepted</span> {% elseif commission.state == 1 %} <span
                    class="text-orange-400">Work in progress</span> {%else%} <span
                    class="text-green-500">Done</span>{%endif%}</p>
        </div>
        <div class="mt-3">
            <p class="">{{ commission.details | nl2br }}</p>
        </div>
        <div class="mt-4">
            <a href="{{ commission.refsheet }}"
                class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 mr-4 rounded">
                Refsheet
            </a>
            {% if commission.state == 0 %}
            <a href="{{ path('commission_accept', {id: commission.id}) }}"
                class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 mr-4 rounded">
                Accept
            </a>
            {% endif %}
            {% if commission.state == 1 %}
            <a href="{{ path('commission_work', {id: commission.id}) }}"
                class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-4 mr-4 rounded">
                Commission is Done
            </a>
            {% endif %}
            {% if commission.user == app.user %}
            <a href="{{ path('delete_post', {id: commission.id}) }}"><button
                    class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 mt-3 rounded"><i
                        class="fa-solid fa-trash-can"></i></button></a>
            <a href="{{ path('edit_post', {id: commission.id}) }}"><button
                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 mt-3 rounded"><i
                        class="fa-solid fa-pen-to-square"></i></button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}